# SVM: Support Vector Machine

    Implementation of the Glass Dataset classification using SVM not linear classification algorithm

Imports

In [58]:
import math

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

from scipy import stats
from sklearn import model_selection
from sklearn import svm

from sklearn.preprocessing import StandardScaler # preprocessing

# Generate Sample

In [75]:
# features = df.columns[:-1].tolist()
# print(df.shape)

df = pd.read_csv('./file/ds_glass.csv')
featureNames = df.columns[:-1].tolist()
# featureNames = ds.columns[:-1].tolist()
# classes = np.unique(ds['type']).tolist()
# columns = featureNames + ['type']

# ds.describe()
# ds['ri'].skew

# featureNames
X = ds[featureNames].values
gamma = 1 / (len(featureNames) * X.var())
gamma # 0.0002265499996931314

X.var()



scaler = StandardScaler()
scaled = scaler.fit(X).transform(X)
scaled.var()


gamma = 1 / (len(featureNames) * scaled.var())
gamma

0.1111111111111111

Split Train X Test

In [37]:

# Set parameters
'''
    TODO: 2021-12-27 - Make it 10 tests
'''
nTests = 2
isReproduceble = False
randomState = 100 if isReproduceble else None

features = ds[ featureNames ]
labels = ds['type']
testSize = .4

# Split data
def getFold() -> tuple:
    xTrain, xTest, yTrain, yTest = model_selection.train_test_split(features, labels, test_size=testSize, random_state=randomState)

    # Test DF
    rows = xTest.shape[0]
    cols = xTest.shape[1] + 1
    testDF = np.zeros( (rows, cols) )
    testDF[:, :-1] = xTest
    testDF[:, -1] = yTest
    testDF = pd.DataFrame(data=testDF, columns=columns)

    # Train DF
    rows = xTrain.shape[0]
    cols = xTrain.shape[1] + 1
    trainDF = np.zeros( (rows, cols) )
    trainDF[:, :-1] = xTrain
    trainDF[:, -1] = yTrain
    trainDF = pd.DataFrame(data=trainDF, columns=columns)

    return testDF, trainDF

# Generate cross validation data
xValidationFolds = [getFold() for i in range(nTests)]

# Train

In [42]:
ds.describe()

,id,ri,na,mg,al,si,k,ca,ba,fe,type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,107.500000,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,61.920648,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.000000,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,54.250000,1.516523,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,107.500000,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,160.750000,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,214.000000,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [53]:
# classifier = svm.SVC(C=c, kernel=kernel, degree=pDegree, gamma=gamma)
# classifier.fit(trainDF[ ['x', 'y'] ], trainDF['label'])
# approxY = classifier.predict(xTest)
# accuracy = np.sum(approxY == yTest) / yTest.shape[0]
# accuracyTxt = '{:.4f} %'.format(100*accuracy)


# ds.describe()
foo = xValidationFolds[0]
foo[0].describe()

,id,ri,na,mg,al,si,k,ca,ba,fe,type
count,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000
mean,104.186047,1.518476,13.406744,2.776860,1.391047,72.621395,0.464767,8.942558,0.214884,0.052674,2.686047
std,62.278598,0.003368,0.748753,1.369758,0.427975,0.724770,0.336860,1.532025,0.601517,0.093424,2.059478
min,1.000000,1.511310,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,54.750000,1.516528,13.000000,2.307500,1.172500,72.280000,0.132500,8.167500,0.000000,0.000000,1.000000
50%,105.000000,1.517770,13.355000,3.480000,1.370000,72.770000,0.565000,8.530000,0.000000,0.000000,2.000000
75%,153.750000,1.519588,13.797500,3.640000,1.610000,73.047500,0.607500,9.447500,0.000000,0.097500,3.000000
max,213.000000,1.533930,14.940000,4.490000,2.880000,74.550000,1.760000,16.190000,3.150000,0.340000,7.000000